@font-face {
  font-family: 'Fira Sans';
  src: url('FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alfa Slab One';
  src: url('AlfaSlabOne-Regular.ttf') format('truetype');
}

body {
/*  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;*/
  background-color: white;


  .my-btn { 
    margin-right: 5px;          
    margin-top: 5px;  
    margin-bottom: 5px;                       
    border: 2px solid;
    height: 38px;
    border-color: #43484d;
    border-radius: 4px;
    background: #FFF;        
    color: #000;               
    font-size: 1rem;          
    font-family: 'Fira Sans', Helvetica, sans-serif; 
    font-weight: 500; 
    cursor: pointer;             
    user-select: none;           
  } 

  .my-btn:hover {
    border-color: #cacaca;
  }

  .my-btn:active{
    box-shadow: 0 0 7px #2a3439 inset
  }

  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #AA4422; /* цвет кнопки */
    border-color: #80331A; /* цвет обводки */
  }

  .my-btn.primary:hover {
    background: #80331A;
  }

  .my-btn.primary:active {
    box-shadow: 0 0 7px #bbb inset    
  }

  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #FFC832; /* цвет кнопки */
    border-color: #bd8816; /* цвет обводки */
  }

  .my-btn.secondary:hover {
    background: #bd8816;
  }

  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 159px;          /* сделаем кнопку шире других */
  }

  /* селектор для поля вывода результата */
  .result { 
    width: 317px; /* 317 px*/
    height: 75px;
    border: solid;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #BBBBBB;
    border-width: 4px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(255, 255, 255); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #000;              /* цвет текста черный */
    font-size: 3rem;
    font-weight: 500; 
    font-family: 'Fira Sans', Helvetica, sans-serif;

    flex: 4;
  }

  .result_ascii { 
    width: 75px;
    height: 75px;
    border: solid;
    border-radius: 4px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #BBBBBB;
    border-width: 4px;
    margin-bottom: 15px;         /* отступ снизу */
    background: rgb(255, 255, 255); /* цвет можно задавать и таким образом */
    text-align: center;           /* примагнитим текст к правой стороне */
    color: #000;              
    font-size: 3rem;
    font-weight: 500; 
    font-family: 'Fira Sans', Helvetica, sans-serif;

    flex: 1;
  }

  .about {
    margin-top: 8px;
    margin-bottom: 60px;
    height: 30px;
    text-align: left;
  }

  .textbox {
    background: #FAFAFA;
    width: 410px;
    border: 1px solid;
    border-color: #bbb;
    font-family: 'Fira Sans', Helvetica, sans-serif;
    color: #444;
    text-align: center;
  }

  .home-btn {
    font-family: 'Alfa Slab One', Helvetica, sans-serif;   
    font-size: 2rem; 
    color:#000;
    cursor: pointer;     
  }

  .my-card {
    font-family: 'Fira Sans', Helvetica, sans-serif;    
    background-color: #2a3439;
    color: #FFF;    
  }

  .my-logo {
    width: 80px;
    margin-top: -3px;
    cursor: pointer;     
  }

  .search-bar {
    font-family: 'Fira Sans', Helvetica, sans-serif;    
    margin-right: 5px;          
    margin-top: 5px;      
    height: 38px;
  }

  .read-btn {        
    border: none;               
    height: 38px;
    width: 80px;
    background: #FFF;        
    color: #000;               
    font-size: 1rem;          
    font-family: 'Fira Sans', Helvetica, sans-serif; 
    font-weight: 500; 
    cursor: pointer;             
    user-select: none;         
  }

  .read-btn:hover {
    border: 1px solid;
    border-color: rgb(148,165,176);
  }

  .read-btn:active{
    box-shadow: 0 0 7px #2a3439 inset
  }

  .delete-btn {        
    border: none;               
    height: 38px;
    width: 80px;
    background: #FFF;        
    color: #000;               
    font-size: 1rem;          
    font-family: 'Fira Sans', Helvetica, sans-serif; 
    font-weight: 500; 
    cursor: pointer;             
    user-select: none;         
  }

  .delete-btn:hover {
    border: 1px solid;
    border-color: rgb(148,165,176);
  }

  .delete-btn:active{
    box-shadow: 0 0 7px #2a3439 inset
  }

  .edit-btn {        
    border: none;               
    height: 38px;
    width: 75px;
    background: #FFF;        
    color: #000;               
    font-size: 1rem;          
    font-family: 'Fira Sans', Helvetica, sans-serif; 
    font-weight: 500; 
    cursor: pointer;             
    user-select: none;         
    margin-left: 5px;
}

.edit-btn:hover {
    border: 1px solid;
    border-color: rgb(148,165,176);
}

.edit-btn:active{
    box-shadow: 0 0 7px #2a3439 inset
}


}