@font-face {
  font-family: 'Fira Sans';
  src: url('FiraSans-Regular.ttf') format('truetype');
}

body {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #E1E1DB;

  .my-btn { 
    margin-right: 5px;           
    margin-top: 5px;             
    width: 75px;                 
    height: 75px;                
    border: 1px solid;
    border-color: #bbb;
    border-radius: 4px;
    background: #FAFAFA;         
    color: #2A3439;                
    font-size: 2rem;           
    font-family: 'Fira Sans', Helvetica, sans-serif; 
    font-weight: 500; 
    cursor: pointer;             
    user-select: none;           
  } 

  .my-btn:hover {
    background: #bbb;
  }

  .my-btn:active{
    box-shadow: 0 0 7px #2a3439 inset
  }

  .my-btn.primary { 
    background: #AA4422; /* цвет кнопки */
    border-color: #80331A; /* цвет обводки */
  }

  .my-btn.primary:hover {
    background: #80331A;
  }

  .my-btn.primary:active {
    box-shadow: 0 0 7px #bbb inset    
  }

  .my-btn.secondary { 
    background: #FFC832; /* цвет кнопки */
    border-color: #bd8816; /* цвет обводки */
  }

  .my-btn.secondary:hover {
    background: #bd8816;
  }

  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 159px;          /* сделаем кнопку шире других */
  }

  /* селектор для поля вывода результата */
  .result { 
    width: 317px; /* 317 px*/
    height: 75px;
    border: solid;
    border-radius: 4px;
    border-color: #BBBBBB;
    border-width: 4px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(255, 255, 255); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #000;              /* цвет текста белый */
    font-size: 3rem;
    font-weight: 500; 
    font-family: 'Fira Sans', Helvetica, sans-serif;
  }
  
  .about {
    margin-top: 8px;
    margin-bottom: 60px;
    height: 30px;
    text-align: left;
  }

  .textbox {
    background: #FAFAFA;
    width: 327px;
    border: 1px solid;
    border-color: #bbb;
    font-family: 'Fira Sans', Helvetica, sans-serif;
    color: #444;
    text-align: center;
  }
}